body{
    margin: 0px;
    height:100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: desco 2s linear 2s infinite normal;
}
@keyframes desco {
    0%{
        background-color: brown;
    }15%{
        background-color: antiquewhite;
    }30%{
        background-color: beige;
    }45%{
        background-color: blue;
    }60%{
        background-color: blueviolet;
    }75%{
        background-color: burlywood;
    }90%{
        background-color: cadetblue;
    }100%{
        background-color: chartreuse;
    }
    
}